:root{
  --primary-color: white;
  --secondary-color: black; 
  --tertiary-color: #E6E5E6;
  --primary-color-font: black;
  --secondary-color-font: white;
  
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto";
  color: var(--primary-color-font);
  line-height: 1.6;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--primary-color-font);
}
h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
  color: var(--primary-color-font);
}
p {
  margin: 10px 0;
}
img {
  width: 100%;
}
/* Navbar */
.navbar{
  background-color: var(--secondary-color);
}
.navbar a{
  padding: 10px;
  margin: 0 5px;
  color: var(--secondary-color-font);
}
.navbar a:hover{
  border-bottom: 2px var(--secondary-color-font) solid;
}
.navbar ul{
  display: flex;
}
.navbar .flex{
  justify-content: space-between;
}
.navbar .logo{
  justify-content: center;
  padding: 5px 40px 5px;
}
.navbar .logo h1{
  color: var(--secondary-color-font);
}
.navbar .logo img{
  height: 70px;
}
/* Showcase */
.showcase {
  height: auto;
  background-color: var(--primary-color);
  color: var(--primary-color-font);
  position: relative;
  padding: 0 5px 0 5px;
}
.showcase h1{
  font-size: 3em;
  padding: 10px;
  margin: 0 auto 0 40px;
}
.showcase p{
  margin: 1.5em 0;
  padding: 10px;
}
.showcase .grid{
  grid-template-columns: repeat(5,1fr);
  gap: 30px;
  border: 2px none #1C6EA4;
  margin-top: 30px;
  padding-bottom: 20px;
  
}
.showcase-title{
  grid-column: 1/-1;

}
.showcase-img{
  grid-column: span 2;
}
.showcase-text{
  grid-column: span 3;
 
}
.showcase-map{
  grid-column: 1/-1;
}
.showcase-dull{
  background-color: var(--tertiary-color);
  color: var(--primary-color-font);
}

.showcase-dull .card {
  background-color: var(--primary-color);
}
.showcase-dull::before{
  content: '';
  position: absolute;
  height: 58px;
  bottom: -37px;
  right: 0;
  left: 0;
  background-color: white;
  transform: skewY(2deg);
}
.showcase-bright::after{
  content: '';
  position: absolute;
  height: 50px;
  bottom: -57px;
  right: 0;
  left: 0;
  background-color: var(--tertiary-color);
  transform: skewY(-1.6deg);
}

/* Articles*/
.articles .flex{
  flex-wrap: wrap;
}
.articles img{
  width: 150px;
}
.articles .card{
 text-align: center;
 margin: 18px 10px 40px;
 transition: transforme 0.2s ease-in;
}
.articles .card h4{
  font-size: 20px;
  margin-bottom: 10px;
}
.articles .card:hover{
  transform: translateY(-15px);
}
.bg-tertiary .card{
  background-color: var(--primary-color);
}
footer .social a{
  margin: 0 10px;
}
footer h1{
  color: white;
}