@import url('https://fonts.googleapis.com/css2?family=Volkhov:ital,wght@1,700&display=swap');

:root{
  --primary-color: #76D7C4;
  --secondary-color: black; 
  --tertiary-color: white;
  --primary-color-font: black;
  --secondary-color-font: white;
  
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Roboto";
  background-color: var(--primary-color);
  color: var(--primary-color-font);
  line-height: 1.6;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--primary-color-font);
}
h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
  margin: 10px 0;
  color: var(--primary-color-font);
}
p {
  margin: 10px 0;
}
img {
  width: 100%;
}
/* Navbar */
.navbar{
  background-color: var(--secondary-color);
}
.navbar a{
  padding: 10px;
  margin: 0 5px;
  color: var(--secondary-color-font);
}
.navbar a:hover{
  border-bottom: 2px var(--secondary-color-font) solid;
}
.navbar ul{
  display: flex;
}
.navbar .flex{
  justify-content: space-between;
}
.navbar .logo{
  justify-content: center;
  padding: 5px 40px 5px;
}
.navbar .logo h1{
  color: var(--secondary-color-font);
}
.navbar .logo img{
  height: 70px;
}
/* Showcase */
.showcase {
  height: auto;
  background-color: var(--primary-color);
  color: var(--primary-color-font);
  position: relative;
  padding: 0 5px 0 5px;
}
.showcase h1{
  font-family: 'Volkhov', serif;
  font-size: 3em;
  padding: 10px;
  margin: 0 auto 0 40px;
}
.showcase p{
  margin: 1.5em 0;
  padding: 10px;
}
.showcase .grid{
  grid-template-columns: repeat(5,1fr);
  gap: 30px;
  border: 2px none #1C6EA4;
  margin-top: 30px;
  padding-bottom: 20px;
  
}
.showcase-title{
  grid-column: 2/span 3;
  grid-row: 1;
  text-align: center;

}
.showcase-img{
  grid-column: span 2;
}

.showcase-text{
  grid-column: span 3;
  padding: 20px;
  margin: 20px;
  background-color: var(--tertiary-color);
  border: 5px none black;
  border-radius: 40px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.26); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.26);
 
}
.showcase .text-center{
  grid-column: 2/span 3;
}
.showcase-map{
  grid-column: 2/span 3;
  width: 100%;
 background-color: transparent;
}
.showcase-sidebar{
  grid-column: 1/span 2;
  grid-row: 2/span 4;
}
.showcase-map img{
  width: 100%;
  border: 5px none black;
  border-radius: 40px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.26); 
  box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.26);
}
.showcase-dull{
  background-color: var(--tertiary-color);
  color: var(--primary-color-font);
}

.showcase-dull .card {
  background-color: var(--primary-color);
}
.showcase-dull::before{
  content: '';
  position: absolute;
  height: 58px;
  bottom: -37px;
  right: 0;
  left: 0;
  background-color: var(--primary-color);
  transform: skewY(1deg);
}
.showcase-bright::after{
  content: '';
  position: absolute;
  height: 50px;
  bottom: -57px;
  right: 0;
  left: 0;
  background-color: var(--tertiary-color);
  transform: skewY(-1deg);
}

/* Articles*/
.articles .flex{
  flex-wrap: wrap;
}
.articles .background-img{
  background-image: url('/images/202px--_panoramio_\(977\).jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;

}
.articles .card{
 text-align: center;
 width: 200px;
 height: 300px;
 transition: transform 0.2s ease-in;
 margin: 18px 10px 40px;
 -webkit-box-shadow: 1px 6px 6px 4px rgba(202,202,202,0.81); 
 box-shadow: 1px 6px 6px 4px rgba(202,202,202,0.81);
 display: flex;
 align-items: flex-end;
}
.articles .card h4{
  font-size: 20px;
  margin-bottom: 10px;
}
.articles .card:hover{
  transform: translateY(-15px);
  
}
.bg-tertiary .card{
  background-color: var(--primary-color);
}
/* footer */
footer ul a{
  color: var(--secondary-color-font);
}
footer .social a{
  margin: 0 10px;
  color: var(--secondary-color-font);
}
footer h1{
  color: white;
}

/* Tablets and under */
@media screen and (max-width: 768px){
  .showcase-map{
    grid-column: 2/span 3;
  }
  .showcase-title{
    grid-column: 1/-1;
  }

  footer .grid-3{
    margin: 0 10px
  }
  .showcase-img{
    transition: transform .2s;
  }
  .showcase-dull .showcase-img:hover{
    grid-column: 1/-1;
    grid-row-start: 2;
  }
  .showcase-img:hover{
    grid-column: 1/-1;
  }
}
/* Mobile*/
@media screen and (max-width: 500px){
  .navbar{
    height: 130px;
  }
  .navbar .flex{
    flex-direction: column;

  }
  .navbar ul{
    padding: 10px;
    background-color: var(--tertiary-color);
    margin-bottom: 10px;
    
  }
  .navbar a{
    color: var(--primary-color-font);
  }
  .navbar .logo{
    flex-direction: row;
  }
  .navbar a:hover{
    border-bottom: 2px var(--primary-color-font) solid;
  }
  .showcase-img{
    transition: transform .2s;
  }
  .showcase-img:hover{
    grid-column: 1/-1;
  }
}