<!DOCTYPE html>
<html>
  <head>
    <title>Heirs - France</title>
    <meta charset="UTF-8" />
    <link
      href="https://fonts.googleapis.com/css?family=Karla"
      rel="stylesheet"
    />
  </head>

  <body>
    <div id="stars1"></div>
    <div id="stars2"></div>
    <div id="stars3"></div>

    <div class="title-wrapper">
      <h1></h1>
    </div>

    <div class="logo-container">
      <img id="logo" class="logo" src="/assets/logo_heirs.png" />
    </div>

    <script src="src/index.js"></script>
  </body>
</html>
