<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="\..\css\utilities.css" />
    <link rel="stylesheet" href="\..\css\history.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>Maya Présentation général</title>
  </head>
  <body>
    <!-- Nav Bar -->
    <div class="navbar">
      <div class="container flex">
        <div class="logo flex">
          <img src="\..\images\logo_heirs.png" alt="logo_heirs" />
          <h1>Heirs</h1>
        </div>
        <nav>
          <ul>
            <li><a href="index.html">Accueil</a></li>
            <li><a href="#">Civilisation</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <!--Showcase-->
    <section class="showcase showcase-bright">
      <div class="container grid">
        <div class="showcase-title">
          <h1>Qui sont les Mayas?</h1>
        </div>
        <div class="showcase-img card">
          <img src="\..\images\logo_heirs.png" alt="logo_heirs" />
        </div>
        <div class="showcase-text">
          <p>
            Les Mayas sont un peuple mésoaméricains dont les premières traces se
            situent autour de 1800 avant l'ère chrétienne, ils ont connu leur
            apogée entre 250 et 600 de notre ère. C’est l’une des civilisation
            des plus importantes civilisation de l'ère précolombienne. Étant
            d’excellent architecte, ils ont érigé de nombreux monuments et
            édifié tout autant des ville dont la particularité était qu’elles
            étaient organisées autour d’esplanades accueillant les principaux
            bâtiments et pyramides. Ce peuple était aussi très avancé dans
            l’astronomie.
          </p>
        </div>
      </div>
    </section>
    <section class="showcase showcase-dull">
      <div class="container grid">
        <div class="showcase-title">
          <h1>Où les Mayas vivent-ils?</h1>
        </div>
        <div class="showcase-text">
          <p>
            Les Mayas anciens, à leur apogée, occupaient le sud du Mexique
            actuel, le Guatemala, le nord du Belize et l’ouest du Honduras.
            Aujourd’hui leurs populations sont majoritairement au Guatemala mais
            sont toujours présentes en plus ou moins grand nombre dans les
            autres régions. Et leur origine viendraient des peuples venus d'Asie
            par le détroit de Béring (entre la Russie et l’Alaska).
          </p>
        </div>
        <div class="showcase-img card">
          <img src="\..\images\logo_heirs.png" alt="logo_heirs" />
        </div>
      </div>
    </section>
    <section class="showcase showcase-bright">
      <div class="container grid">
        <div class="showcase-title">
          <h1>Quelles sont les différentes périodes culturelles Mayas ?</h1>
        </div>
        <div class="showcase-map card">
          <img src="\..\images\map8MEXAIFAZF.png" alt="logo_heirs" />
        </div>
        <div class="showcase-text text-center">
          <p>
            Les périodes culturelles mayas se distinguent géographiquement en
            trois zones, que vous pouvez sur la carte ci-dessus, qui sont dans
            l’ordre chronologique: l'aire méridionale, l’aire centrale et l’aire
            septentrionale. Ces trois aires correspondent à des périodes qui
            sont: le pré-classique qui voit la naissance de la civilisation
            Mayas entre 1800 av.JC et 250 apr.JC , le classique qui connaît
            l’apogée des mayas entre 250- 900 ap.JC et le postclassique qui
            correspond au déclin de 900-1500 apr.J.C.
          </p>
        </div>
      </div>
    </section>
    <section class="showcase showcase-dull">
      <div class="container grid">
        <div class="showcase-title">
          <h1>Leurs Héritages / Influences dans le monde</h1>
        </div>
        <div class="showcase-text">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
            deserunt sunt necessitatibus saepe inventore eligendi, doloremque
            aut delectus, consectetur commodi ullam eius quidem voluptas quasi
            quis aspernatur ipsa fuga doloribus dolor unde illum? Repudiandae
            magnam nemo voluptates ab suscipit exercitationem!
          </p>
        </div>
        <div class="showcase-img card">
          <img src="\..\images\logo_heirs.png" alt="logo_heirs" />
        </div>
      </div>
    </section>

    <!-- Articles-->
    <section class="articles">
      <h2 class="md my-3 text-center">Articles liés</h2>
      <div class="container flex">
        <div class="card background-img">
          <div class="text-card">
            <h4>Lorem, ipsum.</h4>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Corrupti, at.
            </p>
          </div>
        </div>
        <div class="card background-img">
          <div class="text-card">
            <h4>Lorem, ipsum.</h4>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Corrupti, at.
            </p>
          </div>
        </div>
        <div class="card background-img">
          <div class="text-card">
            <h4>Lorem, ipsum.</h4>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Corrupti, at.
            </p>
          </div>
        </div>
        <div class="card background-img">
          <div class="text-card">
            <h4>Lorem, ipsum.</h4>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Corrupti, at.
            </p>
          </div>
        </div>
        <div class="card background-img">
          <div class="text-card">
            <h4>Lorem, ipsum.</h4>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Corrupti, at.
            </p>
          </div>
        </div>
        <div class="card background-img">
          <div class="text-card">
            <h4>Lorem, ipsum.</h4>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Corrupti, at.
            </p>
          </div>
        </div>
      </div>
    </section>
    <section class="articles bg-tertiary">
      <h2 class="md my-3 text-center">Articles liés</h2>
      <div class="container flex">
        <div class="card background-img">
          <div class="text-card">
            <h4>Lorem, ipsum.</h4>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Corrupti, at.
            </p>
          </div>
        </div>
        <div class="card background-img">
          <div class="text-card">
            <h4>Lorem, ipsum.</h4>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Corrupti, at.
            </p>
          </div>
        </div>
        <div class="card background-img">
          <div class="text-card">
            <h4>Lorem, ipsum.</h4>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Corrupti, at.
            </p>
          </div>
        </div>
        <div class="card background-img">
          <div class="text-card">
            <h4>Lorem, ipsum.</h4>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Corrupti, at.
            </p>
          </div>
        </div>
        <div class="card background-img">
          <div class="text-card">
            <h4>Lorem, ipsum.</h4>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Corrupti, at.
            </p>
          </div>
        </div>
        <div class="card background-img">
          <div class="text-card">
            <h4>Lorem, ipsum.</h4>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit.
              Corrupti, at.
            </p>
          </div>
        </div>
      </div>
    </section>
    <!---->
    <footer class="bg-secondary py-5">
      <container class="container grid grid-3">
        <div>
          <h1>Heirs</h1>
          <p>Copyright &copy; 2020</p>
        </div>
        <nav>
          <ul>
            <a href="index.html">Accueil</a>
            <li><a href="#">Civilisation</a></li>
          </ul>
        </nav>
        <div class="social">
          <a href="#"><i class="fab fa-twitter fa-2x"></i></a>
          <a href="#"><i class="fab fa-facebook fa-2x"></i></a>
          <a href="#"><i class="fab fa-instagram fa-2x"></i></a>
        </div>
      </container>
    </footer>
  </body>
</html>
