<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="\..\css\history.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />

    <title>Maya Présentation général</title>
  </head>
  <body>
    <!-- Nav Bar -->
    <div class="navbar">
      <div class="container flex">
        <div class="logo flex">
          <img src="\..\images\logo_heirs.png" alt="logo_heirs" />
          <h1>Heirs</h1>
        </div>
        <nav>
          <ul>
            <li><a href="index.html">Accueil</a></li>
            <li><a href="#">Civilisation</a></li>
          </ul>
        </nav>
        <!--Showcase-->
      </div>
    </div>
    <section class="showcase showcase-bright">
      <div class="container grid">
        <div class="showcase-title">
          <h1>Qui sont-ils?</h1>
        </div>
        <div class="showcase-img card">
          <img src="\..\images\logo_heirs.png" alt="logo_heirs" />
        </div>
        <div class="showcase-text">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
            deserunt sunt necessitatibus saepe inventore eligendi, doloremque
            aut delectus, consectetur commodi ullam eius quidem voluptas quasi
            quis aspernatur ipsa fuga doloribus dolor unde illum? Repudiandae
            magnam nemo voluptates ab suscipit exercitationem!
          </p>
        </div>
      </div>
    </section>
    <section class="showcase showcase-dull">
      <div class="container grid">
        <div class="showcase-title">
          <h1>Où vivent-ils?</h1>
        </div>
        <div class="showcase-text">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
            deserunt sunt necessitatibus saepe inventore eligendi, doloremque
            aut delectus, consectetur commodi ullam eius quidem voluptas quasi
            quis aspernatur ipsa fuga doloribus dolor unde illum? Repudiandae
            magnam nemo voluptates ab suscipit exercitationem!
          </p>
        </div>
        <div class="showcase-img card">
          <img src="\..\images\logo_heirs.png" alt="logo_heirs" />
        </div>
      </div>
    </section>
    <section class="showcase showcase-bright">
      <div class="container grid">
        <div class="showcase-title">
          <h1>Les différentes périodes de ce peuple</h1>
        </div>
        <div class="showcase-map card">
          <img src="\..\images\logo_heirs.png" alt="logo_heirs" />
        </div>
        <div class="showcase-text">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
            deserunt sunt necessitatibus saepe inventore eligendi, doloremque
            aut delectus, consectetur commodi ullam eius quidem voluptas quasi
            quis aspernatur ipsa fuga doloribus dolor unde illum? Repudiandae
            magnam nemo voluptates ab suscipit exercitationem!
          </p>
        </div>
      </div>
    </section>
    <section class="showcase showcase-dull">
      <div class="container grid">
        <div class="showcase-title">
          <h1>Leurs Héritages/Influences dans le monde</h1>
        </div>
        <div class="showcase-text">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit
            deserunt sunt necessitatibus saepe inventore eligendi, doloremque
            aut delectus, consectetur commodi ullam eius quidem voluptas quasi
            quis aspernatur ipsa fuga doloribus dolor unde illum? Repudiandae
            magnam nemo voluptates ab suscipit exercitationem!
          </p>
        </div>
        <div class="showcase-img card">
          <img src="\..\images\logo_heirs.png" alt="logo_heirs" />
        </div>
      </div>
    </section>

    <section class="showarticle">
      <div class="container grid">
        <div class="showarticle-title"><h1>Aticle liées a cette périodes</h1></div>
        <div class="card">
          <img src="\..\images\logo_heirs.png" alt="logo_heirs" />
          <h2>Lorem, ipsum dolor.</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui,
            officia rerum doloremque amet aliquam eum repudiandae temporibus
            nobis, facilis excepturi, rem id. Accusamus repellendus beatae dicta
            quos veritatis numquam explicabo ut atque modi harum sapiente eos
            ipsam unde tempore, vitae laborum. Minima dignissimos harum ut
            dolorum dolorem, nihil nostrum eos?
          </p>
        </div>
        <div class="card">
          <img src="\..\images\logo_heirs.png" alt="logo_heirs" />
          <h2>Lorem, ipsum dolor.</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui,
            officia rerum doloremque amet aliquam eum repudiandae temporibus
            nobis, facilis excepturi, rem id. Accusamus repellendus beatae dicta
            quos veritatis numquam explicabo ut atque modi harum sapiente eos
            ipsam unde tempore, vitae laborum. Minima dignissimos harum ut
            dolorum dolorem, nihil nostrum eos?
          </p>
        </div>
        <div class="card">
          <img src="\..\images\logo_heirs.png" alt="logo_heirs" />
          <h2>Lorem, ipsum dolor.</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui,
            officia rerum doloremque amet aliquam eum repudiandae temporibus
            nobis, facilis excepturi, rem id. Accusamus repellendus beatae dicta
            quos veritatis numquam explicabo ut atque modi harum sapiente eos
            ipsam unde tempore, vitae laborum. Minima dignissimos harum ut
            dolorum dolorem, nihil nostrum eos?
          </p>
        </div>
        <div class="card">
          <img src="\..\images\logo_heirs.png" alt="logo_heirs" />
          <h2>Lorem, ipsum dolor.</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui,
            officia rerum doloremque amet aliquam eum repudiandae temporibus
            nobis, facilis excepturi, rem id. Accusamus repellendus beatae dicta
            quos veritatis numquam explicabo ut atque modi harum sapiente eos
            ipsam unde tempore, vitae laborum. Minima dignissimos harum ut
            dolorum dolorem, nihil nostrum eos?
          </p>
        </div>
        <div class="card">
          <img src="\..\images\logo_heirs.png" alt="logo_heirs" />
          <h2>Lorem, ipsum dolor.</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui,
            officia rerum doloremque amet aliquam eum repudiandae temporibus
            nobis, facilis excepturi, rem id. Accusamus repellendus beatae dicta
            quos veritatis numquam explicabo ut atque modi harum sapiente eos
            ipsam unde tempore, vitae laborum. Minima dignissimos harum ut
            dolorum dolorem, nihil nostrum eos?
          </p>
        </div>
        <div class="card">
          <img src="\..\images\logo_heirs.png" alt="logo_heirs" />
          <h2>Lorem, ipsum dolor.</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui,
            officia rerum doloremque amet aliquam eum repudiandae temporibus
            nobis, facilis excepturi, rem id. Accusamus repellendus beatae dicta
            quos veritatis numquam explicabo ut atque modi harum sapiente eos
            ipsam unde tempore, vitae laborum. Minima dignissimos harum ut
            dolorum dolorem, nihil nostrum eos?
          </p>
        </div>
        
      </div>
    </section>
    <section class="showarticle showarticle-dull">
      <div class="container grid">
        <div class="showarticle-title"><h1>Civilisation influencer par celle-ci</h1></div>
        <div class="card">
          <img src="\..\images\logo_heirs.png" alt="logo_heirs" />
          <h2>Lorem, ipsum dolor.</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui,
            officia rerum doloremque amet aliquam eum repudiandae temporibus
            nobis, facilis excepturi, rem id. Accusamus repellendus beatae dicta
            quos veritatis numquam explicabo ut atque modi harum sapiente eos
            ipsam unde tempore, vitae laborum. Minima dignissimos harum ut
            dolorum dolorem, nihil nostrum eos?
          </p>
        </div>
        <div class="card">
          <img src="\..\images\logo_heirs.png" alt="logo_heirs" />
          <h2>Lorem, ipsum dolor.</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui,
            officia rerum doloremque amet aliquam eum repudiandae temporibus
            nobis, facilis excepturi, rem id. Accusamus repellendus beatae dicta
            quos veritatis numquam explicabo ut atque modi harum sapiente eos
            ipsam unde tempore, vitae laborum. Minima dignissimos harum ut
            dolorum dolorem, nihil nostrum eos?
          </p>
        </div>
        <div class="card">
          <img src="\..\images\logo_heirs.png" alt="logo_heirs" />
          <h2>Lorem, ipsum dolor.</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui,
            officia rerum doloremque amet aliquam eum repudiandae temporibus
            nobis, facilis excepturi, rem id. Accusamus repellendus beatae dicta
            quos veritatis numquam explicabo ut atque modi harum sapiente eos
            ipsam unde tempore, vitae laborum. Minima dignissimos harum ut
            dolorum dolorem, nihil nostrum eos?
          </p>
        </div>
        <div class="card">
          <img src="\..\images\logo_heirs.png" alt="logo_heirs" />
          <h2>Lorem, ipsum dolor.</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui,
            officia rerum doloremque amet aliquam eum repudiandae temporibus
            nobis, facilis excepturi, rem id. Accusamus repellendus beatae dicta
            quos veritatis numquam explicabo ut atque modi harum sapiente eos
            ipsam unde tempore, vitae laborum. Minima dignissimos harum ut
            dolorum dolorem, nihil nostrum eos?
          </p>
        </div>
        <div class="card">
          <img src="\..\images\logo_heirs.png" alt="logo_heirs" />
          <h2>Lorem, ipsum dolor.</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui,
            officia rerum doloremque amet aliquam eum repudiandae temporibus
            nobis, facilis excepturi, rem id. Accusamus repellendus beatae dicta
            quos veritatis numquam explicabo ut atque modi harum sapiente eos
            ipsam unde tempore, vitae laborum. Minima dignissimos harum ut
            dolorum dolorem, nihil nostrum eos?
          </p>
        </div>
        <div class="card">
          <img src="\..\images\logo_heirs.png" alt="logo_heirs" />
          <h2>Lorem, ipsum dolor.</h2>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui,
            officia rerum doloremque amet aliquam eum repudiandae temporibus
            nobis, facilis excepturi, rem id. Accusamus repellendus beatae dicta
            quos veritatis numquam explicabo ut atque modi harum sapiente eos
            ipsam unde tempore, vitae laborum. Minima dignissimos harum ut
            dolorum dolorem, nihil nostrum eos?
          </p>
        </div>
        
      </div>
    </section>
  </body>
</html>
